.title-for-two-blocks {
  @include font(36px, 700);
  // font-size: 36px;
  //   font-weight: 700;
  //   letter-spacing: 0.03em;

  line-height: 1.167;
  text-align: center;
  color: $text-head-color;
  margin-bottom: 50px;
}
